# Files to ignore when adding and committing files to a repository
.DS_Store
Thumbs.db

*.py[cod]
*$py.class

# virtualenv
.venv/
venv/

# PyCharm
.idea

# __init__.py below app = Flask(__name__)
init_removed_for_git.txt

